.window {
    position: absolute;
    width: 25rem;
    height: 25rem;
    background-color: blue;

    border: 0.5rem solid red;

    padding-top: 1rem;
}

.window-iframe {
    width: 100%;
    height: 100%;
}