/*
    1. Global
    2. Typography
    3. Structure
    4. Components
    5. Responsive Design
*/

/* 1. Global
========================================================= */

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(170, 25%, 50%);
}

/* 2. Typography
========================================================= */

html {
    font-family: Arial, Helvetica, sans-serif;
}

.container li {
    margin: 1rem;
    list-style: none;
}

.description {
    margin: 1rem;
}

.link {
    color: hsl(180, 50%, 10%);
}
.link:hover {
    background-color: hsl(180, 50%, 70%);
}

#agent-name {
    margin: 1rem;
}

/* 3. Structure
========================================================= */

.header {
    color: black;
    background-color: hsl(0, 0%, 90%);

    padding: 1rem;

    min-height: 5vh;
}

.footer {
    color: black;
    background-color: hsl(0, 0%, 90%);

    padding: 1rem;

    min-height: 5vh;
}

.main {
    min-height: 80vh;
}

.page-card {
    margin: 1rem;
    padding: 0;
    border: 0.25rem solid black;

    background-color: hsl(0, 0%, 80%);
}

.card {
    border: 0.1rem solid black;
    margin: 1rem;
    padding: 0rem;

    width: 45%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.card .container {
    background-color: hsl(170, 35%, 80%);
}

.pfp {
    width: 25rem;
    border-radius: 1rem;
    border: 0.125rem solid black;
}

.quiz {
    margin: 2rem auto;

    width: 50vw;

    border: 0.5rem solid black;

    background-color: hsl(210, 0%, 90%);
}

.quiz .btn {
    margin: 1rem;
}

.quiz .header {
    color: white;
    background-color: hsl(240, 50%, 25%);
}

#agent-details {
    margin: 2rem;

    width: 50%;
}

#agent-name {
    background-color: white;
    color: black;

    padding: 2rem;

}

#agent-description {
    background-color: white;
    color: black;

    padding: 5rem;

}

/* 4. Components
========================================================= */

.btn {
    padding: 0.5rem;
    margin: 0.5rem;

    border-radius: 0.5rem;

    cursor: pointer;

    box-shadow: 0.25rem 0.25rem black;

    background-color: white;
}
.btn:hover {
    background-color: hsl(240, 50%, 25%);
    color: white;
}

#reset {

    padding: 1rem;

    width: 90%;

    position: relative;

    margin: 2rem 5vw;

}

#begin {
    padding: 5rem;

    font-size: 3rem;
    margin: 25vh 40vw;

    box-shadow: 1rem 1rem black;
}

/* 5. Responsive Design
========================================================= */

@media only screen and (max-width: 999px) {
    #agent-details {
        width: 100%;
    }
}

@media only screen and (max-width: 740px) {
    .card {
        width: 100%;
    }
}