* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

.btn {
    font-size: 2rem;

    border: 0.25rem solid black;
    box-shadow: 0.5rem 0.5rem white;

    border-radius: 0.5rem;
}
.btn:hover {
    opacity: 0.8;
}
.btn:active {
    translate: 0.5rem 0.5rem;
    box-shadow: 0 0 white;
}

#main {
    background-color: white;

    position: absolute;

    border-radius: 1rem;

    left: 31%;
    top: 17%;

    width: 47%;
    height: 65%;

    border: 0.25rem solid black;

    overflow: scroll;
}

#container {
    height: 100vh;
    width: 100vw;
}

.btn {
    position: absolute;

    width: 12rem;
    height: 5rem;

    cursor: pointer;
}

#channelUp {
    left: 5%;
    top: 35%;
}

#channelDown {
    left: 5%;
    top: 50%;
}

#tv {
    width: 100%;
    height: 100%;
}